# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Logs
*.log

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Data / Artifacts (important for ML)
# =========================
artifacts/
data/
*.csv
*.zip
*.tar.gz

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# Misc
# =========================
*.bak
*.tmp
*.pid
trash.ipynb